@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700;800&family=Nunito:wght@300;500&family=Roboto:wght@100;300;700;900&display=swap');

.GuidePage {
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 10%);
  }

  .titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    margin: 13px 0;
  }

  .titleContainer h1{
    flex: 1;
    font-style: normal;
    margin: 0;
  }

  .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .GuidePage .guideContent {
    transition: 0.5s;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-height: 350px;
    max-width: 830px;
    margin: 10px 0 ;
  }

  .GuidePage .guideContent:hover {
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 30%);
    cursor: pointer;
    transform: translateY(-4px);
  }


.guideImage img {
    max-width: 830px;
    max-height: 230px;
    width: 830px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.guideFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
}

.TitleDateContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin: 0 20px;
}

.TitleDateContainer h2, .guideDate{
    margin: 5px;
    color: black;
}


.editButton button{
    display: flex;
    align-items: center;
    background-color: #fd7c06;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 20px;
}

.editButton button:hover{
    cursor: pointer;
    background-color: #054eae;
}