.flex {
    display: flex;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .row-auto {
    flex: 0 0 auto;
  }
  
  
  /* Add additional styling based on your specific needs */
  
  /* Example styles for ArrowBackIcon */
  .icon svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  
  /* Example styles for the "Back" text */
  .icon span {
    font-size: 1rem;
  }