.BlogPage {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo {
  width: 300px;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.body {
  margin: 0;
  padding: 0;
}


.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  flex: 1;
  overflow-x: hidden;
}


.bodyContainer{
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}


.Headline{
  width: 100%;
}

h1{
  font-family: 'Inter', sans-serif;
  margin: 20px 50px;
}

.blogButtons{
  display: flex;
  margin: 0 50px;
}

.actualButton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: #C8C8C8;
  width: 100%;
}

.actualButton:hover{
  cursor: pointer;
  background-color:white;
  color: black;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

