/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* TEXT FORMATTING */
.heading-1 {
    @apply text-4xl font-bold;
}

/* BUTTONS */
.btn-orange {
    @apply bg-orange-400 duration-300 hover:bg-orange-600 text-white font-bold m-1 py-2 px-4 border rounded-[30px];
}

.btn-blue {
    @apply bg-blue-400 duration-300 cursor-pointer hover:bg-blue-600 text-white font-bold m-1 py-2 px-4 border rounded-[30px];
}

/* Sidebar */
.sidebar {
    @apply flex flex-col space-y-[130px] bg-gray-200 fixed top-0 bottom-0 lg:left-0 p-2 w-[350px] overflow-y-auto text-center rounded-tr-[30px];
}

/* Additional CSS for sidebar items wrapper */
.sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adjust the gap as needed */
}

/* Updated CSS for sidebar item */
.sidebar-item {
    @apply p-4 flex items-center rounded-md px-5 duration-300 cursor-pointer hover:text-orange-400 hover:bg-white hover:rounded-tr-full hover:rounded-br-full;
}

.sidebar-text {
    @apply text-[20px] ml-4;
}

/* PAGE LAYOUT*/
.page-container {
    @apply grid grid-cols-2 gap-1
}

/* CARD LAYOUT */
.card-body {
    @apply m-10 p-8 shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] rounded-[30px];
}

/* FORMS */
.form-input {
    @apply border rounded-[30px] p-5 m-3;
}