<div>
    <a href="http://localhost:8080/">
        <button style="background-color: red; color: white; padding: 2rem; border: none; border-radius: 30px;">
            Click Me!
        </button>
    </a>
</div>